import socks

# Authentication keys. Get it here: https://core.telegram.org/api/obtaining_api_id
api_id = '24239957'
api_hash = 'bd3dda8e0046286f660a3e1341ceeaac'


#proxy support
use_proxy = False
proxy_port = 9999
proxy_data = (socks.SOCKS5, 'proxy_host', proxy_port, True, 'proxy_login', 'proxy_password')


